.product__rating{
    display: flex;
}

.product{
    display: flex;
    flex-direction: column;
    max-height: 400px;
    min-width: 100px;
    margin : 10px;
    background-color: white;
    z-index: 1;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    
}

.product > img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}
.product > button{
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
}